/**
 * Styles for generated cobble documentation.
 */

/* ------------------------------------------------------------------------ *
 * Font Stacks                                                              *
 * ------------------------------------------------------------------------ */
body              {font-family: 'Open Sans', sans-serif; color: #464646}
h1,h2,h3,h4,h5,h6 {font-family: 'Open Sans', sans-serif; font-weight: 300}

/* ------------------------------------------------------------------------ *
 * HTML5 elements (Required for older browsers)                             *
 * ------------------------------------------------------------------------ */
header, nav, aside, footer, article, section {display: block; }

/* ------------------------------------------------------------------------ *
 * Basic HTML styles                                                        *
 * ------------------------------------------------------------------------ */

/* Headings */
h1,h2,h3,h4,h5,h6 {color: #1a54a6;}

/* Paragraphs and Lists*/
p,li,dt,dd,table,td,th {font-size: 95%}

/* Links */
a         {text-decoration: none;}
a:hover   {text-decoration: underline}

/* Tables */
table  {border-collapse: collapse; border-color: #ddd;}
td     {padding: 1px 4px}

/* Top level container */
body {background: #464646; height: 100%; margin: 0; padding: 0;}

/* Headings in articles */
article h1     {font-size: 21px; margin-top: 10px}
article h2     {font-size: 18px; margin-bottom: 4px}
article h2 + p {margin-top: 4px}
article h3     {margin-bottom: 4px}
article h3 + p {margin-top: 4px}
article h4     {color: #464646; font-weight: 700; margin-bottom: 4px; }
article h4 + p {margin-top: 4px; margin-bottom: 4px}
article h5     {color: #464646; font-size: 15px; font-weight: 700; margin-bottom: 4px}
article h5 + p {margin-top: 4px}
article h6     {color: #464646; font-weight: 700}

article ul {padding: 0 16px; margin: 8px 0}

/* ------------------------------------------------------------------------ *
 * Basic Page Structure                                                     *
 * Use elements prefixed '#cobble-'                                         *
 * ------------------------------------------------------------------------ */

/* Header */
#cobble-header        {height: 40px; margin: 0; padding: 0; background: #1a54a6; border-top: 1px solid #1a54a6; border-bottom: 1px solid white; position: fixed; width: 100%; z-index: 1000;}
#cobble-header > div  {width: 1000px; margin: 0 auto;}
#cobble-header h1     {margin: 0; height: 40px; width: 500px; line-height: 32px; color: white; font-weight: 300;  font-size: 24px}
#cobble-header h1 a   {color: white; font-weight: 300; font-size: 24px}

/* Structure */
#cobble-main          {background: #fff; padding-top: 40px;}
#cobble-main > div    {width: 1000px; margin: 0 auto; min-height: 400px; padding: 32px 40px; min-height: 600px; font-size: 15px; line-height: 140%}

/* Footer */
#cobble-footer  {clear: both; background: #eee; margin: 0 auto; color: #aaa; text-align: center; font-weight: 100; font-size: 13px; padding-top: 4px; height: 200px}
#cobble-footer a         {color: #aaa;}
#cobble-footer a:visited {color: #aaa;}
#cobble-footer a:hover   {color: #333;}

/* ------------------------------------------------------------------------ *
 * Navigation                                                               *
 * ------------------------------------------------------------------------ */

/* Navigation */
#cobble-nav           {background: #01ACF1; width: 100%; padding-top: 40px; position: fixed}
#cobble-nav > div     {width: 1000px; margin: 0 auto}
#cobble-nav ul        {list-style-type: none; display: block; margin: 0; padding: 0; height: 32px; font-size: 14px; font-weight: 300;}
#cobble-nav li        {height: 32px; line-height: 32px; padding: 0; list-style-type: none; display: inline-block; vertical-align: top}
#cobble-nav .active   {background: url(images/header/nav-active.png) no-repeat bottom center}
#cobble-nav li:hover  {}
#cobble-nav a         {display: block; color: white; padding: 0 8px;}
#cobble-nav a:hover   {color: white; text-decoration: none; background: #ff7e00}
#cobble-nav .active a {color: white}

/* File navigation */
#cobble-nav .files ul li+li {display: none}
#cobble-nav .files:hover ul li+li {display: block; position: relative; z-index: 100}
#cobble-nav .files ul    {background: #01ACF1; }
#cobble-nav .files ul li {display: block; background: #01ACF1}

/* ------------------------------------------------------------------------ *
 * Schematron documentation                                                 *
 * ------------------------------------------------------------------------ */

.schematrondoc h3 {background: #1a54a6; color: white; padding: 4px}
.schematrondoc code {font-size: 13px}

.schematrondoc .message {font-size: 13px; margin-left: 60px; color: #777}
.schematrondoc .message:before {content: 'Message\3A '; color: black; font-size: 13px; margin-left: -60px}

.schematrondoc table      {border:1px solid #01acf1;border-collapse:collapse}
.schematrondoc table th   {background:#01acf1;border:1px solid #01acf1;color:#fff}
.schematrondoc table td   {border:1px solid #01acf1;}

.schematrondoc var {color: #ef4135}

/* ------------------------------------------------------------------------ *
 * XSLT documentation                                                       *
 * ------------------------------------------------------------------------ */

.xsltdoc table {border: 1px solid #1A54A6; border-collapse: collapse}
.xsltdoc table th {border: 1px solid #1A54A6; background: #1A54A6; color: white}
.xsltdoc table th h3 {color: white}
.xsltdoc table td {border: 1px solid #1A54A6}
.xsltdoc table td .description {margin-left: 40px}

.xsltdoc .imports  {list-style-type: square; color: #464646}
.xsltdoc .includes {list-style-type: square; color: #464646}
.xsltdoc .imports  a {color: #464646}
.xsltdoc .includes a {color: #464646}

.xsltdoc .templates {width: 100%}
.xsltdoc .variables {width: 100%}
.xsltdoc .functions {width: 100%}

.xsltdoc var {color: #01ACF1; white-space:nowrap;}
.xsltdoc i {color: #01ACF1}

.xsltdoc h4 {border-top: 2px solid #eee}
.xsltdoc code {color: #666; font-size: 12px}

.xsltdoc .template-title           {color: #cef; background: #01ACF1; font-size: 15px;  padding: 4px 2px}
.xsltdoc .template-title .mode     {color: #fff; background: #ADF101; color: #464646; font-size: 15px; font-weight: 600; padding: 0 2px; margin: 0 2px; float: right}
.xsltdoc .template-title .priority {color: #fff; background: #FF7e00; color: #fff; font-size: 15px; font-weight: 600; padding: 0 2px; margin: 0 2px; float: right}
.xsltdoc .template-title var       {color: #fff; font-weight: 600; font-size: monspace}

.xsltdoc .function-title    {color: #fff; background: #01ACF1; font-size: 15px;  padding: 4px 2px}
.xsltdoc .function-title i  {color: #fff; font-weight: 600;}

.xsltdoc .path    {color: #aaa; font-family: monospace; font-size: 80%}
.xsltdoc .implied {color: #aaa}
